html {
	    height: 100%;
    }

body {
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 1.5vh;
	height: 100%;
	padding: 0;
}

.wrapper {
  width: 70%;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  background-color: rgba(0,0,0,0.5);
  min-height:70%;
}

header {
  border-radius: 8px 8px 0 0;
  background:#C6EAFA;
  background: linear_gradient(#DDFBFC, #C6EAFA);
  position:relative;
  padding:15px 20px;
  border-bottom:1px solid #B2D2E1;
}

header.h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#069;
    text-shadow:rgba(#fff, 0.9) 0 1px 0;
}

footer {
  width: 70%;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#section {
  display: block;
  min-height: 50%;
}
