html {
	    height: 100%;
    }

body {
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 1.5vh;
	height: 100%;
	padding: 0;
}

.wrapper {
  width: 70%;
  margin: auto;
  border: 2px blue;
  background-color: rgba(0,0,0,0.5);
}

footer {
  width: 70%;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

#section {
  display: block;
  background: black;
  color: white;
}
